In [66]:
import pandas as pd
import numpy as np
country_names = ["argentina","brazil","britain","canada","colombia","egypt","france","germany","indonesia","iran","italy","japan","malaysia","mexico","peru","philippines","poland","russia","south_africa","south_korea","spain","thailand","turkey","ukraine","united_states","uzbekistan"]

df = pd.DataFrame(0, index=country_names, columns=['total_deaths', 'covid_deaths_per_100k', 'excess_deaths_per_100k'])
for i in range(len(country_names)):
    data = pd.read_csv("%s_excess_deaths.csv"%country_names[i])
    df['total_deaths'][i] = data[data.year == 2020].total_deaths.sum()
    df['covid_deaths_per_100k'][i] = data[data.year == 2020].covid_deaths_per_100k.sum()
    df['excess_deaths_per_100k'][i] = data[data.year == 2020].excess_deaths_per_100k.sum()

df

               total_deaths  covid_deaths_per_100k  excess_deaths_per_100k
argentina            378995                     94                      91
brazil              1581645                     91                      98
britain              696704                    110                     124
canada               312305                     42                      43
colombia             305006                     85                      99
egypt                666200                      7                     100
france               664335                     96                      80
germany             1001381                     41                      48
indonesia             19374                      4                      41
iran                 510905                     65                     138
italy                756810                    124                     182
japan               1384544                      2                     -15
malaysia             166507                      1                     -42
mexico              1080554                     97                     238
peru                 228884                    280                     296
philippines          613942                      8                      -7
poland               485604                     77                     172
russia              2138585                     38                     255
south_africa         591803                     49                      95
south_korea          309524                      1                       0
spain                498671                    108                     159
thailand             501438                      0                       1
turkey                92546                     67                     104
ukraine              616835                     44                      96
united_states       6881578                   5396                    7823
uzbekistan           175637                      1                      52